<div>
  <div class="container">
    <div class="row">
      <div class="form-group col-md-4">
        <label>Filter Expense</label>
        <input type="text" class="form-control" [(ngModel)]="filters.keyword" name="keyword" (input)="listExpenses()">
      </div>

    </div>
    <br>
    <a routerLink="/expenses/add" class="btn btn-primary">Add Expense</a>
    <div class="row">
      <div class="col-md-4 mt-4" *ngFor="let expense of expenses">
        <div class="card">
          <div class="card-header">
            <h3>{{ expense.expense}}</h3>
          </div>
          <div class="card-body">
            <p>{{ expense.amount | currency: 'GHC'}}</p>
            <p>{{ expense.description}}</p>
            <a routerLink="/expenses/edit/{{ expense.id }}" class="btn btn-primary btn-sm" style="margin-right: 10px !important;">Edit Button</a>
            <button class="btn btn-danger btn-sm" *ngIf="expense.id" (click)="deleteExpense(expense.id)">Delete Expense</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
