<div>
  <div class="container">
    <a routerLink="/expenses/add" class="btn btn-primary">Add Expense</a>
    <div class="row">
      <div class="col-md-4 mt-4" *ngFor="let expense of expenses">
        <div class="card">
          <div class="card-header">
            <h3>{{ expense.expense}}</h3>
          </div>
          <div class="card-body">
            <p>{{ expense.amount | currency: 'GHC'}}</p>
            <p>{{ expense.description}}</p>
            <a routerLink="/expenses/edit/{{ expense.id }}" class="btn btn-primary">Edit Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
